* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
.in_header {
  width: 100%;
  height: 123px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  transition: 0.3s ease;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topbar {
  display: flex;
  text-align: right;
  padding-top: 18px;
  justify-content: flex-end;
}

.line {
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 14px;
  vertical-align: middle;
  background-color: #e0e0e0;
  content: "";
}

.facebook {
  margin: 0 3px;
  font-size: 0;
  vertical-align: middle;
}

.facebook > a {
  color: inherit;
  text-decoration: none;
}

.facebooklogo {
  width: 20px;
}

.instr {
  margin-right: 15px;
}

.instr > a {
  color: inherit;
  text-decoration: none;
}

.instrlogo {
  width: 20px;
}

.nav_wrap {
  margin-top: -20px 0 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menulast {
  position: relative;
}

.slide_banner {
  width: 100%;
  height: 595px;
}

.box1 {
  width: 100%;
  display: block;
  height: 285px;
  background-image: url(../빽다방이미지/main_sec1.jpg);
}
.box1_1 {
  padding-left: 350px;
  padding-top: 40px;
}
.box1_2 {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  color: #564e00;
}
.box1_3 {
  width: 100%;
  display: inline-block;
  margin: 5px 0 10px;
  font-size: 50px;
  font-weight: 800;
  color: #071f60;
  font-weight: 900;
}
.box1_4 {
  width: 1200px;
  font-size: 18px;
  display: inline-block;
  color: black;
}
.box1_5 {
  position: relative;
  display: block;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #fff;
  margin-left: 350px;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 15px;
}
.box1_7 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: none;
  border-radius: 50%;
  transform: rotate(360deg);
}
.box1_5:hover .box1_7 {
  display: block;
  background-color: yellow;
}

.box2 {
  width: 100%;
  height: 595px;
  display: block;
  background-image: url(../빽다방이미지/main_sec2.jpg);
}

.box2_1 {
  padding-left: 350px;
  padding-top: 40px;
  font-size: 50px;
  color: #6b4d30;
  display: inline-block;
  font-weight: 900;
}
.box2_2 {
  width: 40px;
  display: block;
  margin-top: 20px;
  height: 2px;
  background-color: #6b4d30;
  margin-left: 350px;
  font-weight: 900;
}

.box2_3 {
  display: inline-block;
  margin-left: 350px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4em;
  color: #202020;
}
.box2_4 {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #fff;
  margin-left: 350px;
  margin-top: 300px;
  padding-top: 15px;
  padding-left: 15px;
}

.box2_6 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: none;
  border-radius: 50%;
  transform: rotate(360deg);
}
.box2_4:hover .box2_6 {
  display: block;
  background-color: yellow;
}

.box3 {
  width: 60%;
  position: static;
  float: left;
  background-image: url(../빽다방이미지/main_sec3.jpg);
}
.box3_1 {
  padding-left: 350px;
  padding-top: 40px;
  font-size: 50px;
  color: #071f60;
  display: inline-block;
  font-weight: 900;
}
.box3_2 {
  width: 40px;
  display: block;
  margin-top: 20px;
  height: 2px;
  background-color: #071f60;
  margin-left: 350px;
  font-weight: 900;
}

.box3_3 {
  display: inline-block;
  margin-left: 350px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
  color: #202020;
}

.box3_4 {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #fff;
  margin-left: 350px;
  margin-top: 250px;
  padding-top: 15px;
  padding-left: 15px;
}

.box3_6 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  display: none;
  border-radius: 50%;
  transform: rotate(360deg);
}
.box3_4:hover .box3_6 {
  display: block;
  background-color: yellow;
}
